//color
$gray1: #565956;
$gray2: #b1b6af;
$white: #fff;
$mainGray: #f2f4f1;
$accentGreen: #609484;
$accentGold: #948260;

// inner-size
$inner: 1180px;
// padding

// font-family
$NotoSansJp: "Noto Sans JP", sans-serif;
$Jost: "Jost", sans-serif;
// transition time
$ts-time: 0.3s;
