---
---

<header class="l-header">
  <div class="l-header__inner l-container">
    <h1 class="l-header__logo">
      <a href="#">
        <img src="/assets/images/logo.svg" alt="Rich-Life" />
      </a>
    </h1>

    <nav class="l-header__nav">
      <ul class="l-header__list">
        <li class="l-header__item l-header__item--toggle l-header__drop-menu">
          <a href="#" class="l-header__link">家具</a>
          <div class="l-header__menu">
            <div class="l-header__menu-title">家具</div>
            <ul class="l-header__menu-list">
              <li class="l-header__menu-item">
                <a href="#">すべて</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">ソファ</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">ベッド・寝具</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">チェア</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">ダイニング</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">収納用品・ケース</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">テレビ台</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">照明</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">カーテン</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">観葉植物</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">その他家具</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="l-header__item l-header__item--toggle l-header__drop-menu">
          <a href="#" class="l-header__link">家電</a>
          <div class="l-header__menu">
            <div class="l-header__menu-title">家電</div>
            <ul class="l-header__menu-list">
              <li class="l-header__menu-item">
                <a href="#">すべて</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">洗濯機</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">冷蔵庫</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">電子レンジ</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">テレビ</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">掃除機</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">AV機器</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">空調</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">美容</a>
              </li>
              <li class="l-header__menu-item">
                <a href="#">その他家電</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="l-header__item l-header__item--business">
          <a href="#" class="l-header__link">法人のお客様へ</a>
        </li>
        <li class="l-header__item l-header__item--account">
          <a href="#" class="l-header__link">ログイン/会員登録</a>
        </li>
      </ul>
    </nav>

    <ul class="l-header__icons">
      <li class="l-header__icon l-header__icon--logout">
        <a href="#">
          <img src="/assets/images/logout.svg" alt="" />
        </a>
      </li>
      <li class="l-header__icon l-header__icon--cart">
        <a href="#">
          <img src="/assets/images/cart.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</header>
