---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../styles/style.scss";
const { title } = Astro.props;
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      title={title}
      description="簡単なプロフィールと自分がアウトプットしているブログを一覧として掲載しているポートフォリオです。お問い合わせも受け付けてます。"
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "/assets/images/SEO.webp",
        },
      }}
      twitter={{
        creator: "@gako0012",
      }},
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "/assets/images/SEO.webp",
          },
          { name: "twitter:title", content: "ポートフォリオ" },
          { name: "twitter:description", content: "簡単なプロフィールと自分がアウトプットしているブログを一覧として掲載しているポートフォリオです。お問い合わせも受け付けてます。" },
        ],
      }}
    />
  </head>
  <body>
    <Header />
    <main class="l-main">
      <slot />
    </main>
    <Footer />
    <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>
